<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
 </system.data>
 <connectionStrings>
   <add name="BaseConfigConnection" connectionString="Data Source=localhost; port=3306; Initial Catalog=gyy_importdata; uid=root; pwd=sdmp;Allow Zero Datetime=True;charset=utf8;" providerName="MySql.Data.MySqlClient" />
   <add name="AccountConnection" connectionString="Data Source=localhost; port=3306; Initial Catalog=gyy_account; uid=root; pwd=sdmp;Allow Zero Datetime=True;charset=utf8;" providerName="MySql.Data.MySqlClient" />
   <add name="ChangzhouConnection" connectionString="Data Source=localhost; port=3306; Initial Catalog=gyy_changzhou; uid=root; pwd=sdmp;Allow Zero Datetime=True;charset=utf8;" providerName="MySql.Data.MySqlClient" />
   <add name="CompanyConnection" connectionString="Data Source=localhost; port=3306; Initial Catalog=gyy_company; uid=root; pwd=sdmp;Allow Zero Datetime=True;charset=utf8;" providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
</configuration>